<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.mobile_termproject2">

    <!--STT Permission granted-->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> // 다이얼 띄우기 말고 바로 전화 걸기



    <application
        android:allowBackup="true"
        android:icon="@drawable/blinder"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_TermProject2">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".IntroductionActivity"/>
        <activity android:name=".FoodActivity"/>
        <activity android:name=".StoreActivity"/>
        <activity android:name=".MenuActivity"/>
    </application>

</manifest>